:root {
    font-size: 24px;
}

body {
    font-family: 'Proxima Nova', sans-serif;
    color: #fff;
    background: #000;
}

.bodyWrap {
    align-items: center;
    display: flex;
    height: 100vh;
    // transition: .5s all;
    justify-content: center;
    width: 100vw;
    &.hide > * {
        filter: blur(10px);
        transform: translateY(20px);
        opacity: 0;
    }
    > * {
        transition: .5s all;

    }
}


#test {
    color: #fff;
    font-weight: 800;
    font-size: 1rem;
    position: absolute;
    top: 30px;
    right: 30px;
}